<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form
      #objForm="ngForm"
      class="form-standard"
      (ngSubmit)="login()"
    >
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" required
          name="username"
          [(ngModel)]="model.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" required
          name="password"
          [(ngModel)]="model.password"></ion-input>
      </ion-item>

      <ion-button type="submit" class="ladda-button"
        data-color="green"
        data-style="expand-right"
        [ladda]="isLoading"
        [disabled]="!model.username || !model.password">
        <span class="ladda-label">Login</span>
        <span class="ladda-spinner"></span>
        <div class="ladda-progress" style="width: 132px;"></div>
      </ion-button>
    </form>
  </div>
</ion-content>
